@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
}

:root {
    --sl-color-accent-low: #e0def4; 
    --sl-color-accent: #eb6f92;
    --sl-color-accent-high: #c4a7e7;
    --sl-color-white: #e0def4;
    --sl-color-gray-1: #908caa;
    --sl-color-gray-2: #6e6a86;
    --sl-color-gray-3: #524f67;
    --sl-color-gray-4: #403d52;
    --sl-color-gray-5: #26233a;
    --sl-color-gray-6: #1f1d2e;
    --sl-color-black: #191724;
}
/* Light mode colors. */
:root[data-theme="light"] {
    --sl-color-accent-low: #ebc9f3;
    --sl-color-accent: #a700c3;
    --sl-color-accent-high: #4e0e5b;
    --sl-color-white: #1c1425;
    --sl-color-gray-1: #2f1c42;
    --sl-color-gray-2: #412e55;
    --sl-color-gray-3: #614e78;
    --sl-color-gray-4: #9581ae;
    --sl-color-gray-5: #c7bdd5;
    --sl-color-gray-6: #f2e9fd;
    --sl-color-gray-7: #f8f4fe;
    --sl-color-black: #ffffff;
}

/* [data-has-hero] .hero img {
    filter: drop-shadow(0 0 60px #121019)
        drop-shadow(0 0 100px #121019);
} */

/* .header {
    background: rgba(
        255,
        255,
        255,
        0.1
    ) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
} */

/* For dark mode */
/* [data-theme="dark"] .header {
    background: rgba(0, 0, 0, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
} */
